<!DOCTYPE html>
<html>
<head>
    <title>Select Event</title>
</head>
<body>
    <h1>Select Event</h1>
    <form action="/output" method="GET">
        <label for="event1">東京オリンピック</label>
        <input type="radio" id="event1" name="event" value="1"><br>
        <label for="event2">カタールワールドカップ</label>
        <input type="radio" id="event2" name="event" value="2"><br>
        <label for="event3">パリオリンピック</label>
        <input type="radio" id="event3" name="event" value="3"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
